* {
    box-sizing: border-box;
    
}
body {
    max-width: 100vh;
    display: flex;
    justify-content: center;
    
}
.menubox {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-areas: 
    "logga meny";
}
.menu {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: grey;
    align-items: center;
    margin: 0;
    grid-area: meny;
}
.logga {
    grid-area: logga;
    background-color: black;
    align-items: center;
}
nav ul a{
    display: flex;
    margin-left: 50px;
    margin-right: 100px;
    padding: 5px;
   /*justify-content: right;*/
    text-decoration: none;
    color: black;
}
