@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Roboto;
}
.alles {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "men"
    "cont";
}
.menubox {
  width: 100%;
  grid-area: men;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logga meny";
}
.menu {
  height: 100px;
  width: 1030px;
  list-style: none;
  display: flex;
  justify-content: end;
  background-color: #fdbf62;
  align-items: center;
  margin: 0;
  grid-area: meny;
}
.logga {
  width: 170px;
  grid-area: logga;
  align-items: center;
}
nav ul a {
  display: flex;
  margin-left: 50px;
  margin-right: 100px;
  padding: 10px 20px;
  /*justify-content: right;*/
  text-decoration: none;
  color: #fdbf62;
  background-color: whitesmoke;
  border-radius: 20px;
  font-weight: 900;
}
nav ul a:hover {
  color: whitesmoke;
  background-color: transparent;
  outline: solid thin white;
}
img {
  border-radius: 20px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "bel elin"
    "ladd smar"
    "contact contact";
  grid-area: cont;
}
.belysnin {
  display: grid;
  justify-content: center;
  background-color: beige;
  height: 400px;
  grid-area: bel;
  padding: 10px;
  text-align: center;
}
.belysnin p {
  display: none;
}

.belysnin:hover,
.belysnin:hover p {
  height: 450px;
  display: block;
  transition: 0.2s;
}

.elinstalation {
  display: grid;
  justify-content: center;
  background-color: #ffd000;
  height: 400px;
  grid-area: elin;
  padding: 10px;
}
.elinstalation p {
  display: none;
}
.elinstalation:hover,
.elinstalation:hover p {
  height: 450px;
  display: block;
  transition: 0.2s;
}
.laddbox {
  display: grid;
  justify-content: center;
  background-color: #ffd000;
  height: 400px;
  grid-area: ladd;
  padding: 10px;
}
.laddbox p {
  display: none;
}
.laddbox:hover,
.laddbox:hover p {
  height: 450px;
  display: block;
  transition: 0.2s;
}
.smarthem {
  display: grid;
  justify-content: center;
  background-color: #ffd000;
  height: 400px;
  grid-area: smar;
  padding: 10px;
}
.smarthem p {
  display: none;
}
.smarthem:hover,
.smarthem:hover p {
  height: 450px;
  display: block;
  transition: 0.2s;
}
.contact {
  margin-top: 200px;
  height: 200px;
  grid-area: contact;
  background-color: #fdbf62;
  border: solid thin black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "serv cus oss";
}
#service {
  grid-area: serv;
}
#kontakt-vy {
  color: black;
  text-decoration: none;
  font-size: large;
}
#kvt {
  display: none;
}
#service:hover p {
  display: block;
  margin-left: 10px;
}
#contact-us {
  grid-area: cus;
}
#contact-us:hover p {
  display: block;
  margin-left: 10px;
}
#om-oss {
  grid-area: oss;
}
#om-oss:hover p {
  display: block;
  margin-left: 10px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .alles {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .alles {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .alles {
    max-width: 600px;
  }
  .container {
    display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "bel"
    "elin"
    "ladd"
    "smar"
    "contact";
    p {
      display: block;
    }
  }
}
@media (max-width: 600px) {
  .alles {
    max-width: 95%;
  }
}