* {
    box-sizing: border-box;
    
}
body {
    background-color: #319ea1;
    display: flex;
    justify-content: center;
    
}
.alles {
    background-color: #ffd000;
    margin: 0;
    max-width: 1200px;
    display: grid;
    /* gap: 20px; */
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "men"
    "cont";

}
.menubox {
    display: grid;
    /* grid-template-columns: 1fr 15fr;
    grid-template-areas: 
    "logga meny"; */
    min-width: 1200px;
    grid-area: men;
}
.menu {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #a13431;
    align-items: center;
    margin: 0;
    grid-area: meny;
}
/* .logga {
    grid-area: logga;
    background-color: black;
    align-items: center;
} */
nav ul a{
    display: flex;
    margin-left: 50px;
    margin-right: 100px;
    padding: 5px;
   /*justify-content: right;*/
    text-decoration: none;
    color: black;
}
img {
    border-radius: 20px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "bel elin"
    "ladd smar";
    grid-area: cont;
}
.belysnin {
    display: grid;
    justify-content: center;
    background-color: #ffd000;
    height: 400px;
    grid-area: bel;
    padding: 10px;
}
.belysnin p {
    display: none;
}
.belysnin:hover, .belysnin:hover p {
    height: 450px;
    display:block;
    /* width: 200%; */
    transition: 0.2s;
}

.elinstalation {
    display: grid;
    justify-content: center;
    background-color: #ffd000;
    height: 400px; 
    grid-area: elin;
    padding: 10px;
}
.elinstalation p {
    display: none;
}
.elinstalation:hover, .elinstalation:hover p {
    height: 450px;
    display:block;
    transition: 0.2s;
}
.laddbox {
    display: grid;
    justify-content: center;
    background-color: #ffd000;
    height: 400px;
    grid-area: ladd; 
    padding: 10px;
}
.laddbox p {
    display: none;
}
.laddbox:hover, .laddbox:hover p {
    height: 450px;
    display:block;
    transition: 0.2s;
}
.smarthem {
    display: grid;
    justify-content: center;
background-color: #ffd000;
    height: 400px;
    grid-area: smar; 
    padding: 10px;
}
.smarthem p {
    display: none;
}
.smarthem:hover, .smarthem:hover p {
    height: 450px;
    display:block;
    transition: 0.2s;
}