@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Roboto";
  /* background: linear-gradient(100deg, rgb(255, 255, 255), rgb(255, 255, 255)); */
  justify-content: center;
  display: flex;
}
h2 {
  font-weight: 800;
  letter-spacing: 0rem;
}
.alles {
  max-width: 1200px;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "men"
    "cont";
}
.menubox {
  width: 100%;
  grid-area: men;
  display: grid;
  align-items: center;
  grid-template-areas: "logga meny";
}
.menu {
  height: 100px;
  width: 1030px;
  list-style: none;
  display: flex;
  justify-content: end;
  background-color: #fdbf62;
  align-items: center;
  margin: 0;
  grid-area: meny;
}
.logga {
  width: 170px;
  grid-area: logga;
  align-items: center;
}
nav ul a {
  display: flex;
  margin-left: 50px;
  margin-right: 100px;
  padding: 10px 20px;
  /*justify-content: right;*/
  text-decoration: none;
  color: #fdbf62;
  background-color: whitesmoke;
  border-radius: 20px;
  font-weight: 900;
}
nav ul a:hover {
  color: whitesmoke;
  background-color: transparent;
  outline: solid thin white;
}
.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "huvud huvud"
    "under1 under2"
    "under3 under3"
    "cust cust"
    "contact contact";
  grid-area: cont;
}
.huvudbild {
  background-image: url(img/huvudbilden.webp);
  height: 500px;
  grid-area: huvud;
  margin-top: 10px;
  color: white;
  border-radius: 20px;
}
.underbild {
  height: 410px;
  grid-area: under1;
  /* padding-left: 30px;
  padding-right: 30px; */
  margin: 10px;
  margin-top: 200px;
  /* border-radius: 50px;
  border: solid thick #fdbf62; */
}
/* .underbild h2{
  text-align: center;
} */
#boka {
  color: black;
  text-decoration: none;
  /* border: solid thin black; */
  border-radius: 10px;
  background-color: #fdbf62;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}
.underbild2 {
  height: 410px;
  background-image: url(/img/underbild2.webp);
  border-radius: 50px;
  border: solid thick #fdbf62;
  grid-area: under2;
  margin: 10px;
  margin-top: 200px;
}
.underbild3 {
  grid-area: under3;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.customer {
  grid-area: cust;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "snabb satis rece"
    "snt sat rt";
  margin-top: 100px;
}
#snabb {
  grid-area: snabb;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  z-index: 10;
}
#satis {
  grid-area: satis;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  z-index: 10;
}
#rece {
  grid-area: rece;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  z-index: 10;
}
#snabb-text {
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  grid-area: snt;
  border-radius: 20px;
  background-color: #fdbf62;
  color: white;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
#satis-text {
  text-align: center;
  grid-area: sat;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color: #fdbf62;
  color: white;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
#rece-text {
  text-align: center;
  grid-area: rt;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  background-color: #fdbf62;
  color: white;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.contact {
  margin-top: 200px;
  height: 200px;
  grid-area: contact;
  background-color: #fdbf62;
  border: solid thin black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "serv cus oss";
}
#service {
  grid-area: serv;
}
#kontakt-vy {
  color: black;
  text-decoration: none;
  font-size: large;
}
#kvt {
  display: none;
}
#service:hover p {
  display: block;
  margin-left: 10px;
}
#contact-us {
  grid-area: cus;
}
#contact-us:hover p {
  display: block;
  margin-left: 10px;
}
#om-oss {
  grid-area: oss;
}
#om-oss:hover p {
  display: block;
  margin-left: 10px;
}
.cookie {
  position: fixed;
  border-radius: 0%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.annoying {
  display: grid;
  align-items: end;
  width: 400px;
  height: 300px;
  background-color: whitesmoke;
  border: solid thick #fdbf62;
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  margin-left: auto;
  margin-top: 100px;
  z-index: 101;
}

.Button {
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  bottom: 0px;
  border: solid thin black;
  border-radius: 10px;
  background-color: #fdbf62;
}

.Button:hover {
  background-color: gray;
  color: white;
  transition: 0.3s;
}
.Button2 {
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  bottom: 0px;
  border: solid thin black;
  border-radius: 10px;
}

.Button2:hover {
  background-color: gray;
  color: white;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .alles {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .alles {
    max-width: 800px;
  }
  .huvudbild {
    background-image: url(/img/huvudbilden-1000.webp);
  }
}
@media (max-width: 800px) {
  .alles {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .alles {
    max-width: 400px;
  }
}